<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Все Users из базы</title>
</head>
<body style="display: flex;
flex-direction: column;
height:100vh;
margin: 0;
padding: 0;">

<div class="container-fluid d-flex flex-column" style="flex: 1">
    <div class="row bg-dark">
        <p class="text-white mx-2 mt-2 mb-2" th:text="${user.getEmail()}"></p>
        <p class="text-white mt-2 mb-2">with roles:</p>
        <p class="text-white mx-2 mt-2 mb-2">
            <tr th:each="role : ${user.getRoles()}">
                <td th:if="${role.getName().startsWith('ROLE_')}"
                    th:text="${role.getName().replaceFirst('ROLE_', ' ')}"></td>
            </tr>
        </p>
        <a class="mt-2 mb-2" style="font-size: small;  color: #9a9da0; margin-right: 10px; margin-left: auto"
           href="/logout">Logout</a>
    </div>
    <div class="row" style="background: #eee; flex: 1;">
        <div class="bg-white col-3 p-0 mr-0 ml-0">
            <ul class="nav nav-pills nav-fill mb-auto  p-0 mt-2 mx-0 mr-n1 flex-column">
                <li class="nav-item">
                    <a class="nav-link active text-left" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left" href="user">User</a>
                </li>
            </ul>
        </div>
        <div class="col pb-5" style="background-color: #eee">
            <h2 class="mt-2">Admin Panel</h2>
            <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="form"
                       aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="ml-3 mt-2">
                        <h5>All users</h5>
                    </div>
                    <table class="table table-striped bg-white border mb-0">
                        <tr class="bg-white pr-3">
                            <th class="pt-3 pl-3" scope="col">ID</th>
                            <th class="pt-3 pl-3" scope="col">First Name</th>
                            <th class="pt-3 pl-3" scope="col">Last Name</th>
                            <th class="pt-3 pl-3" scope="col">Age</th>
                            <th class="pt-3 pl-3" scope="col">Email</th>
                            <th class="pt-3 pl-3" scope="col">Role</th>
                            <th class="pt-3 pl-3" scope="col">Edit</th>
                            <th class="pt-3 pl-3" scope="col">Delete</th>
                        </tr>
                        <tr class="users" th:each="person : ${users}">
                            <td class="pt-3 pl-3" th:text="${person.getId()}"></td>
                            <td class="pt-3 pl-3" th:text="${person.getName()}"></td>
                            <td class="pt-3 pl-3" th:text="${person.getLastName()}"></td>
                            <td class="pt-3 pl-3" th:text="${person.getAge()}"></td>
                            <td class="pt-3 pl-3" th:text="${person.getEmail()}"></td>
                            <td class="pt-3 pl-3">
                                <span th:each="role:${person.getRoles()}"
                                      th:if="${role.getName().startsWith('ROLE_')}"
                                      th:text="${role.getName().replaceFirst('ROLE_', ' ')}"></span>
                            </td>
                            <td class="pt-2 pl-2">
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        th:attr="data-target=@{'#edit' + ${person.getId()}}"
                                        data-whatever="@mdo">Edit
                                </button>
                                <div th:insert="/edit::Edit"></div>
                            </td>
                            <td class="pt-2 pl-2">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        th:attr="data-target=@{'#delete' + ${person.getId()}}"
                                        data-whatever="@mdo">Delete
                                </button>
                                <div th:insert="/delete::Delete"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div th:insert="/new::add"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>